@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=M+PLUS+1p&family=Manrope:wght@200..800&display=swap');

:root{
    --primary-color: #D8EFD3;
    --secondary-color: #95D2B3;
    --tercery-color: #55AD9B ;
    --cuartery-color: #F1F8E8 ;
    --withe: #ffffff;

    --primary-font: "Lexend", sans-serif;
    --secundary-font: "M PLUS 1p", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
    padding: 1rem;
}

.navbar-title{
    color: var(--withe)
}

.header{
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--withe);
}

.header-title{
    color: var(--withe);
    font-style: var(--primary-font);
    text-align: center;
}

.header-subtitle{
    color: var(--secundary-font);
    font-style: var(--secundary-font);
    text-align: center;
}